body {

}

h1{
    color:green
}
input#name {
    width: 500;
}

input#description{

    width:  500px;
    height: 250px;
    overflow:scroll;
}
div#notes div {
    background-color: #ff00ff;
    min-width:  100px;
    max-width:  200px;
    min-height: 100px;
    max-height: 200px;
    overflow: auto;
    margin:5px;
}

div#notes p,h3 {
    max-height:inherit;
    max-width:inherit;
}



div#displayData,
div#insertData {
    display:inline-block;
    vertical-align:top;
    margin: 0 10px;
    height: 750px;
    overflow:scroll;
}


