body {

}

h1{
    color:green
}
input#name {
    width: 500;
}

input#description{

    width:  400px;
    height: 250px;
    overflow:auto;
}
div#notes div {
    background-color: #ff00ff;
    min-width:  100px;
    max-width:  200px;
    min-height: 100px;
    max-height: 200px;
    overflow: auto;
    margin:5px;
}

div#notes div.clicked {

    background-color: #ffff00;
}

div#notes p,h3 {
    max-height:inherit;
    max-width:inherit;
    overflow:hide;
}

div#notes {

    overflow: auto;
    height:525px;

}

div#displayData,
div#insertData {
    display:inline-block;
    vertical-align:top;
    margin: 0 10px;
    width: 500px;
}


